* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
Tag's
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}


/*
Classes
*/

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(27, 27, 70);
    width: 100%;
    padding: 1.5vh 2vw;
}

.navbar-itens {
    margin: 0 10vw;
    display: flex;
    font-size: 2vh;
    list-style: none;
    color: white;
    gap: 1vw;
}

.nav-item {
    text-transform: capitalize;
    display: block;
    padding: 0.5vw 2vw;
    background-color: rgb(61, 36, 187);
    border-radius: 1vh;
    transition: background-color 0.2s, transform 0.2s;
}

.nav-item:hover {
    background-color: rgb(79, 54, 202);
    transform: translateY(-2px);
}

.video-conteiner {
    display: flex;
    justify-content: center;
    margin: 25vh 0;
}

/*
Identificadores
*/

#logo {
    margin-right: auto;
    color: white;
    font-size: 2.5vh;
}

#player-video {
    width: 100%;
    max-width: 1000px;
}

@media screen and (max-width: 1000px) {
    #player-video {
        padding: 0 10px;
    }
}
